@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    list-style: none;
    text-decoration: none;
}

body {
    position: relative;
    height: 100vh;
}

.btnTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f0f296;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btnTop span {
    font-size: 40px;
    color: #000;
}

.btnTop.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 16;
}

header {
    position: relative;
    width: 100%;
    height: 120px;
}

a, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.containerTop {
    width: 100%;
    position: fixed;
    z-index: 5;
    transition: all 0.4s ease-in-out;
}

.containerTop.active {
    top: -10%;
}
.containerTop.show {
    top: 0;
    box-shadow: 0 0 10px #333;
}

.topPage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #000;
    padding: 15px 20px;
}

.topPage .logo {
    width: 120px;
    height: 40px;
    cursor: pointer;
}

.topPage .logo img {
    width: 120px;
    height: 40px;
    object-fit: cover;
}

.topPage .search {
    position: relative;
    display: flex;
    align-items: center;
    width: 600px;
    height: 40px;
    margin: 0 20px;
    overflow: hidden;
    border-radius: 30px;
    background-color: #fff;
}

.topPage .search input {
    width: calc(100% - 50px);
    height: 100%;
    background-color: transparent;
    border: none;
    outline: 0;
    color: #000;
    font-size: 16px;
    padding-left: 15px;
}

.topPage .search span {
    font-size: 30px;
    color: #000;
    cursor: pointer;
}

.shoppingCart {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.shoppingCart .valueCart {
    font-size: 16px;
    color: #fff;
    
}

.shoppingCart .iconCart {
    font-size: 30px;
    color: #fff;
    padding-left: 10px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #FFF;
}

.menu ul {
    max-width: 1220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 5px 0;
    list-style: none;
}


.menu ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.menu ul li:hover .itemMenu{
    color: #fff;

}


.menu ul li:hover {
    background-color: #000;
}

.menu ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-align: center;
}

.menu ul li a span {
    font-size: 16px;
    font-weight: 900;
    color: #000;
    padding: 0px 27px;
    transition: 0.3s ease-in-out;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1200px;
}

.container .containerProduto {
    width: 100%;
}

.container .containerProduto .topProduto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.container .containerProduto .topProduto .categoria a span {
    font-size: 14px;
    color: #666666;
    margin-right: 5px;
}

.container .containerProduto .topProduto .categoria span {
    font-size: 14px;
    color: #121212;
}

.container .containerProduto .topProduto .marcas .textMarca {
    font-size: 14px;
    color: #121212;
}

.container .containerProduto .topProduto .marcas a span {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    color: #000;
    margin-left: 5px;
}

.container .containerProduto .boxProdutos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    'boxOne boxOne boxTwo boxTwo boxTwo' ;
    grid-gap: 20px;
    width: 100%;
    overflow: hidden;
}

.container .containerProduto .boxProdutos .boxOne {
    position: relative;
    grid-area: boxOne;
    width: 100%;
    padding: 20px;
    overflow: hidden;
}

.container .containerProduto .boxProdutos .boxOne .percentual {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 50px;
    text-align: center;
    background-color: #ee7913;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    padding: 2px 8px;
}

.container .containerProduto .boxProdutos .boxTwo {
    grid-area: boxTwo;
    width: 100%;
    padding: 20px;
    overflow: hidden;

}

.container .containerProduto .boxProdutos .boxOne .imgPrevie {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    border: 1px solid #66666641;
    overflow: hidden;
}

.container .containerProduto .boxProdutos .boxOne .imgPrevie img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container .containerProduto .boxProdutos .boxOne .imgIco {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .containerProduto .boxProdutos .boxOne .imgIco span {
    font-size: 12px;
    text-transform: uppercase;
    color: #666666;
    padding: 20px;
}

.container .containerProduto .boxProdutos .boxOne .imgIco .tagImg {
    max-width: 80px;
    min-width: 50px;
    height: auto;
    border: 1px solid #66666641;
    padding: 2px;
    overflow: hidden;
    cursor: pointer;
}

.container .containerProduto .boxProdutos .boxOne .imgIco .tagImg img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.container .containerProduto .boxProdutos .boxTwo .itemCompre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 650px;
    border-bottom: 1px solid #66666641;
    padding: 20px 0;
}

.container .containerProduto .boxProdutos .boxTwo .itemCompre .textItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 40px;
}

.container .containerProduto .boxProdutos .boxTwo .itemCompre .textItem .nameCod {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container .containerProduto .boxProdutos .boxTwo .itemCompre .textItem div {
    margin-bottom: 5px;
}

.container .containerProduto .boxProdutos .boxTwo .itemCompre .textItem .parcela {
    margin-bottom: 20px;
}

.container .containerProduto .boxProdutos .boxTwo .itemCompre .textItem:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    border: 1px solid #66666641;
    border-radius: 5px;
    padding: 40px;
}

.container .containerProduto .boxProdutos .boxTwo .itemCompre .textItem .name {
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

.container .containerProduto .boxProdutos .boxTwo .itemCompre .textItem .cod,
.container .containerProduto .boxProdutos .boxTwo .itemCompre .textItem .marca {
    font-size: 12px;
    text-transform: uppercase;
    color: #666666;
} 

.container .containerProduto .boxProdutos .boxTwo .itemCompre .textItem .precoAnterior span {
    font-size: 14px;
    color: #666666;
}

.container .containerProduto .boxProdutos .boxTwo .itemCompre .textItem .precoAnterior span:nth-child(2) {
    text-decoration: line-through;
}

.container .containerProduto .boxProdutos .boxTwo .itemCompre .textItem .precoAtual span:first-child {
    font-size: 16px;
    color: #666666;
    margin-right: 2px;
}

.container .containerProduto .boxProdutos .boxTwo .itemCompre .textItem .precoAtual span:last-child {
    font-size: 22px;
    font-weight: bold;
    color: #000;
}

.container .containerProduto .boxProdutos .boxTwo .itemCompre .textItem .parcela span:nth-child(1),
.container .containerProduto .boxProdutos .boxTwo .itemCompre .textItem .parcela span:nth-child(3) {
    font-size: 16px;
    color: #666666;
    margin-right: 2px;
}

.container .containerProduto .boxProdutos .boxTwo .itemCompre .textItem .parcela span:nth-child(2),
.container .containerProduto .boxProdutos .boxTwo .itemCompre .textItem .parcela span:nth-child(4) {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-right: 2px;
}

.container .containerProduto .boxProdutos .boxTwo .itemCompre .textItem a button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    padding: 20px;
    background-color: #ff7900;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container .containerProduto .boxProdutos .boxTwo .itemCompre .textItem a button:hover {
    background-color: #ee7913;
}

.container .containerProduto .boxProdutos .boxTwo .itemCompre .textItem a button span:first-child {
    font-size: 30px;
    color: #fff;
    margin-right: 10px;
}

.container .containerProduto .boxProdutos .boxTwo .itemCompre .textItem a button span:last-child {
    font-size: 18px;
    color: #fff;
}

.containerTexto {
    width: 100%;
}

.containerTexto .descricao .menuDescription .listMenu {
    position: relative;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #66666641;
    cursor: pointer;
    margin-bottom: 20px

}

.containerTexto .descricao .menuDescription .listMenu h1 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    transition: all 0.3s ease;
}

.containerTexto .descricao .menuDescription .listMenu::after {
    position: absolute;
    right: 0;
    top: 20px;
    font-family: 'Material Icons';
    content: 'keyboard_arrow_down';
    display: block;
    font-size: 30px;
    color: #666666;
    transition: all 0.3s ease;
}

.containerTexto .descricao .menuDescription.active .listMenu h1 {
    font-size: 18px;
    color: #ff7900;
}


.containerTexto .descricao .menuDescription.active .listMenu::after {
    color: #ff7900;
    transform: rotate(-180deg);
}

.containerTexto .descricao .menuDescription .listMenu:hover .titleList {
    color: #ff7900;
}

 .containerTexto .descricao .menuDescription .listMenu:hover::after{
    color: #ff7900;
}


.containerTexto .descricao .menuDescription .list {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    transition-delay: 0.5s;
}

.containerTexto .descricao .menuDescription .list .descriptionText h1 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.containerTexto .descricao .menuDescription .list .descriptionText p {
    font-size: 16px;
    color: #333;
}

.containerTexto .descricao .menuDescription.active .list {
    max-height: 1200px;
    overflow: hidden;
 
}

.containerTexto .descricao .menuDescription .listMenu ul {
   height: 0;
   visibility: hidden;
   opacity: 0;
   pointer-events: none;

}

.containerTexto .descricao .menuDescription .listMenu.active ul {
    height: fit-content;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
 }
 
.containerTexto .descricao .menuDescription .listMenu.active a span {
    transform: rotate(-180deg);
 }

footer {
    width: 100%;
}

.containerBarFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #000;
    padding: 20px;
}

.barFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    width: 100%;
    padding: 20px 0 0 0;
}

.links {
    margin-left: 20px;
    margin-bottom: 15px;
}

.links h1 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}

.redeSocial {
    display: flex;
    justify-content: flex-start;
}

.redeSocial a {
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 15px;
}

.imgCartao {
    width: 250px;
}

.imgCartao img {
    width: 100%;
}

.textLinks {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #fff;
    margin-bottom: 15px;
}

.listText1, .listText2, .listText3, .listText4, .listText5, .listText6 {
    position: relative;
}

.listText1 p, .listText2 p, .listText3 p, .listText4 p, .listText5 p, .listText6 p {
    font-size: 14px;
    color: rgb(101, 98, 98);
    margin-bottom: 5px;
    cursor: pointer;
}


.popup {
    display: none;
    position: absolute;
    bottom: 30px;
    width: 330px;
    background-color: #fff;
    box-shadow: 0 0 10px #333;
    border-radius: 10px;
    padding: 25px;
    z-index: 10;
    cursor: default;
}

.popup i {
    position: absolute;
    top: 7px;
    left: 295px;
    font-size: 30px;
    color: #000;
    cursor: pointer;
    z-index: 21;
}

.popup p {
    cursor: default;
}

.popup.active {
    display: block;
}

.seloImg {
    width: 200px;
}

.seloImg img {
    width: 100%;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15px;
}

.location a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.location a i {
    font-size: 20px;
    color: #fff;
    margin-right: 10px;

}

.location a span {
    font-size: 14px;
    color: rgb(101, 98, 98);
}

.textLinks #hrA, .textLinks #hrB {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.textLinks #hrA i, .textLinks #hrB i {
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
}

.textLinks #hrA h2, .textLinks #hrB h2 {
    font-size: 16px;
    color: #fff;
    margin-right: 10px;
}

.textLinks #hrA span, .textLinks #hrB span {
    font-size: 14px;
    color: rgb(101, 98, 98);
    margin: 0%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #a0a4a6;
    padding: 10px 20px;
}

.footer h1, .footer p {
    font-size: 14px;
    margin-right: 10px;
}



.sliderResponse {
    display: none;
}

.menuHamburguer {
    display: none;
}

@media (max-width: 1200px) {
    
    .listProdutos nav {
        padding: 0;
    }

    .listProdutos nav ul li {
        width: 25vw;
    }

}

@media (max-width: 1100px) {
    .menu ul li a {
        font-size: 16px;
    }

    .menu ul li a span {
        font-size: 14px;
        padding: 0px 15px;
    }
}

@media (max-width: 800px) {
     
    .menu {
        position: absolute;
        align-items: flex-start;
        top: 110px;
        left: -100%;
        width: 100%;
        height: 100vh;
        transition: all 0.3s ease-in-out;
        z-index: 15;
    }

    .menu.active {
        left: 0;
    }

    .menu ul {
        position: relative;
        top: 40px;
        left: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    .menu ul li:hover {
        border-radius: 10px;
    }

    .menu ul li a span {
        font-size: 22px;
    }

    .menuHamburguer {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;       
        width: 100%;
        height: 50px;
        background-color: #FFF;
        padding: 10px 20px;
        z-index: 55;
    }

    .menuHamburguer .conLines {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40px;
        height: 30px;
        cursor: pointer;
    }

    .menuHamburguer .line {
        width: 40px;
        height: 4px;
        background-color: #000;
        margin-bottom: 8px;
        transition: all 0.3s ease;
    }

    .menuHamburguer .line:last-child {
        margin-bottom: 0;
    }

    .menuHamburguer .conLines.active .item2 {
        display: none;
    }

    .menuHamburguer .conLines.active .item1 {
        position: absolute;
        top: 24px;
        transform: rotate(-138deg);
        margin-bottom: 0;
    }

    .menuHamburguer .conLines.active .item3 {
        position: absolute;
        top: 24px;
        transform: rotate(138deg);
    }

    .itemBox {
        flex-direction: column;
    }

    .listProdutos nav {
        padding: 0;
    }

    .listProdutos nav ul li {
        width: 50vw;
    }


    .container .containerProduto .boxProdutos {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        'boxOne'
        'boxTwo' ;
        grid-gap: 0px;
    }

    .container .containerProduto .boxProdutos .boxOne {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       padding-bottom: 0;
    }

    .container .containerProduto .boxProdutos .boxTwo {
        padding-top: 0px;
    }

    .container .containerProduto .boxProdutos .boxOne .imgPrevie {
        width: 60%;
    }

    
    .container .containerProduto .boxProdutos .boxTwo .itemCompre {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
     }

     .container .containerProduto .boxProdutos .boxOne .percentual {
        top: 30px;
        right: 170px;
    }

    .container .containerProduto .boxProdutos .boxTwo .itemCompre .textItem:nth-child(2) {
        margin-bottom: 0;
    }
}

@media (max-width: 500px) {

    .container .containerProduto .boxProdutos .boxOne .imgPrevie {
        width: 90%;
    }

    .container .containerProduto .boxProdutos .boxOne .imgIco {
        display: none;
    }

    .container .containerProduto .boxProdutos .boxTwo .itemCompre .textItem:nth-child(1) {
        margin: 40px 10px 0 0;
    }

    .container .containerProduto .boxProdutos .boxTwo .itemCompre .textItem a button {
        width: 180px;
        padding: 15px;
    }

    .container .containerProduto .boxProdutos .boxTwo .itemCompre .textItem:nth-child(2) {
        width: 100%;
    }
}

@media (max-width: 400px) {

    .slider {
        display: none;
    }

    .sliderResponse {
        display: block;
    }

    .sliderResponse {
        width: 100%;
    }

    .sliderImgResponse {
        width: 100%;
        height: 200px;
    }

    .sliderImgResponse img {
        width: 100%;
        height: 200px;
    }

    .listProdutos nav {
        padding: 0;
    }

    .listProdutos nav ul {
        width: 5000px;
    }

    .listProdutos nav ul li {
        width: 100vw;
    }

    .listProdutos nav ul li:hover {
        transform: scale(1);
        border: 1px solid transparent;
    }

    .itemDepoimento:hover, .itemCategory:hover {
        transform: scale(1);
    }

    .marcas {
        display: none;
    }

    .container .containerProduto .boxProdutos .boxTwo .itemCompre .textItem:nth-child(2) {
        width: 100%;
        padding: 15px;
    }

}
