@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif; 
} 

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d3d5d5;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden ;
}

.telaEscura {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.475);
    z-index: -2;
    visibility: hidden;
}

.telaEscura.active {
    z-index: 4;
    visibility: visible;
}

section {
    display: flex;
    align-content: center;
    justify-items: center;
    position: relative;
}

.menuContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 300px;
    height: 100vh;
    background-color: #073149;
    z-index: 3;
    padding: 80px 20px 20px 20px;
    transition: 0.5s ease-in-out;
}

.menuContainer.active {
    width: 80px;
    padding: 80px 10px 20px 10px;
}

.menuContainer:hover .btnResponseMenu {
    transform: translateY(-10%) translateX(0px) ;
    opacity: 1;
    pointer-events: all;
    right: -28px;

}

.menuContainer nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.btnResponseMenu {
    position: absolute;
    top: 10px;
    right: -35px;
    background-color: #073149;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: scale(1);
    opacity: 0;
}

.btnResponseMenu:hover {
    background-color: #0F6793;
    transform: scale(1.05);
}

.btnResponseMenu span {
    color: #fff;
    font-size: 25px;
}

.login {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login h1 {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
    margin-bottom: 30px;
    cursor: pointer;
}

.login h1::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f0d7';
    padding-left: 10px;
    font-size: 15px;
}

.imgUser {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 10px;
}

.imgUser img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menuContainer nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    position: relative;
}

.menuContainer nav li {
    width: 100%;
    list-style: none;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 20px 20px 20px 20px;
    transition: 0.5s ease-in-out;
    position: relative;
    transform: scale(1);
}

.menuContainer nav li .textRespon {
    padding: 5px 15px;
    background-color: #073149;
    border-radius: 5px;
    position: absolute;
    display: flex;
    visibility: hidden;
    transition: 0.3s ease-in-out;

}

.menuContainer nav li .textRespon p {
    color: #fff;
    text-transform: none;
    font-size: 14px;
}

.menuContainer nav li:hover .textRespon {
    visibility: visible;
}

.text1 {
    right: -90px;
}

.text2 {
    right: -115px;
}

.text3 {
    right: -133.5px;
}

.text4 {
    right: -98px;
}

.text5 {
    right: -94px;
}

.text6 {
    right: -79px;
}



.menuContainer nav li:hover, .administrator span:hover {
    background-color: #0F6793;
    transform: scale(1.05);

}

.menuContainer nav li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menuContainer nav li a span {
    color: #fff;
    padding-right: 30px;
    font-size: 18px;
    text-transform: none;
}

.textMenu.active {
    display: none;
}

.menuContainer nav li a span:first-child {
    font-size: 40px ;
}

.administrator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.administrator h1 {
    color: #fff;
    text-transform: none;
    font-weight: normal;
    font-size: 18px;
}

.administrator span {
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

.contPrincipal {
    width: calc(100% - 300px);
}

.barraTop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 10px #000;
}

.menuHamburger {
    display: none;
}

.telaPrincipal {
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #c2c4c8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerProduct {
    position: relative;
    width: 95%;
    height: 90%;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.filtroTable {
    position: sticky;
    background-color: #fff;
    top: 0px;
    width: 100%;
    height: 70px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.btnAdd, .btnRemove, .btnSalva {
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-transform: none;
    border-radius: 5px;
    margin-left: 20px;
}

.btnAdd, .btnSalva {
    background-color: #0f5526;
    color: #fff;
}

.btnAdd:hover, .btnSalva:hover {
    background-color: #0f5526e6;
}


.btnRemove {
    background-color: #0F6793;
    color: #fff;
}

.btnRemove:hover {
    background-color: #0f6793e6;
}

.tbContainer {
    position: relative;
    width: 100%;
    max-height: 500px;
    border-collapse:collapse ;
    text-align: center;
}

.tbContainer thead {
    position: sticky;
    top: 70px;
    z-index: 2;
}

.tbContainer thead tr{

    background-color: #c2c4c8;
    width: 100%;
    height: 30px;
}

.tbContainer thead tr th {
    font-size: 12px;
    color: #28282f;
}


.tbContainer tbody tr {
    width: 100%;
    height: 50px;
    overflow: hidden;
    border-bottom: 1px solid rgba(146, 145, 145, 0.503);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.tbContainer tbody tr td {
    height: 10px;
    overflow: hidden;

}

.tbContainer tbody tr:hover {
    background-color: #a1dcfa91;
}

.tbContainer tbody tr td {
    font-size: 14px;
    color: #000;
    text-transform: none;
}

#tdCheck {
    padding-left: 10px;
}

#tdImg {
    width: 70px;
    height: 70px;
    overflow: hidden;
}

#tdImg img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

#tdAcoes span {
    color: #0f5526;
    cursor: pointer;
    font-size: 25px;
    margin-left: 10px;
    transform: scale(1);
    transition: 0.5s ease-in-out;
}

#tdAcoes span:hover {
    color: #0F6793;
    transform: scale(1.5);
}

.addProduct, .editProduct {
    padding: 10px;
    display: flex;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 1200px;
    width: 100%;
    height: 90%;
    border-radius:10px ;
    background-color: #fff;
    z-index: -999;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.addProduct.active {
    z-index: 5;
    visibility: visible;
}

.addProduct .close, .closeEdit {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.addProduct .close span, .closeEdit span {
    font-size: 35px;
    transition: 0.5s ease-in-out;
    transform: scale(1);
}

.addProduct .close span:hover, .closeEdit:hover {
    color: #0F6793;
    transform: scale(1.5);
}

.editProduct.active {
    z-index: 5;
    visibility: visible;
}

.textTitle {
    height: 50px;
    margin-bottom: 10px;
}

.textTitle h1 {
    font-size: 22px;
    text-transform: none;
    color: #000;

}

.formAddProduct, .formEditProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    padding: 10px;
}

.contForm {
    width: 70%;
    box-shadow: 0 0 2px #000;
    padding: 20px;
    border-radius: 10px;
}

.infoPrincipal {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.imgAdd, .imgAddEdit {
    position: relative;
    display: flex;
    margin-bottom: 30px;
    cursor: pointer;
}

.imgAdd img, .imgAddEdit img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
}

.imgAdd input, .imgAddEdit input {
    display: none;
    z-index: 0;
}

#imgInsert, #imgInsertEdit {
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #000;
    box-shadow: 0 0 15px #000;
    z-index: -5;
    visibility: hidden;
}

.imgAdd span, .imgAddEdit span {
    color: #000;
}

.labels {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.labels label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.labels label input {
   
    height: 30px;
    border-radius: 5px;
    border: 1px solid #757677;
}

#codInput {
    width: 100px;
}

#descriptionText {
    width: 500px;
    border-radius: 5px;
    outline: 0;
    border: 1px solid #757677;
}

@media (max-width: 1300px) {

    #trVParcela, #tdVParcela, #trQtParcela, #tdQtParcela {
        display: none;
    }

}

@media (max-width: 1100px) {

    #tdDesconto, #trDesconto, #trVA, #tdVA {
        display: none;
    }

}

@media (max-width: 900px) {

    #tdEstoque, #trEstoque {
        display: none;
    }
}


@media (max-width: 700px) {

    html, body {
        width: 100%;
        overflow: hidden;
    }

    .btnResponseMenu {
        display: none;
    }

    .menuContainer {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
    }

    .menuContainer.show {
        left: 0;
    }

    .contPrincipal {
        width: 100%;
    }

    .menuHamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40px;
        height: 30px;
        position: absolute;
        left: 10px;
        top: 10px;
        cursor: pointer;
        z-index: 4;
        transition: 0.5s ease-in-out;
    }

    .menuHamburger.show {
        left: initial;
        right: 10px;
    }

    .menuHamburger .line {
        width: 100%;
        height: 5px;
        right: 10px;

        background-color: #000;
    }

    .containerProduct {
        width: 100%;
        height: calc(100vh - 50px);
        border-radius: 0;
    }

    .contForm {
        width: 100%;
    }
    
}

@media (max-width: 500px) {


    #trVP, #tdVP {
        display: none;
    }

    #trAcoes {
        width: 100px;
    }

    #tdAcoes span {
        margin-left: 3px;
        font-size: 1.4rem;
    }

    .containerProduct .filtroTable .btnAddRemove button {
        width: 70px;  
        height: 30px; 
        margin-left: 5px;
        font-size: 0.6rem;
    }

    .addProduct, .editProduct {
        height: 100vh;
        border-radius: 0;
    }

    .formAddProduct, .formEditProduct {
        padding: 0;
    }

    .contForm {
        padding: 0;
        box-shadow: none;
    }

    .btnAddRemove #btnAddItem, .btnAddRemove .btnRemove {
        width: 70px;  
        height: 30px; 
        margin-left: 5px;
        font-size: 0.6rem;
    }

    .labels label {
        font-size: 0.8rem;
    }

    #descriptionText {
        width: 200px;
    }
}
