@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d3d5d5;
    position: relative;
    z-index: 0;
}

.fecharTela {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.459);
    z-index: -1;
    opacity: 0;
}

.fecharTela.acitve {
    z-index: 0;
    opacity: 1;
    transition: 0.3s ease-in-out;
}

section {
    width: 100%;
    overflow: hidden;
    

}

.containerTop {
    position: fixed;
    top:0 ;
    left: 0;
    background-color: #FFFFFF;
    width: 100%;
    padding: 20px 30px;
    box-shadow: 0 0px 20px 0px #000;
    z-index: 1;
}

.menuHaburger {
    width: 35px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.menuHaburger .line {
    width: 100%;
    height: 3px;
    background-color: #000;
}

.containerPrincipal {
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.containerMenu {
    width: 300px;
    height: 100vh;
    background-color: #5c627a;
    padding: 40px 0 0 20px;
    transition: 0.3s ease-in-out;
}

.containerMenu.active {
    left: -100%;
}

.containerMenu li {
    padding-bottom: 20px;
    list-style: none;
}

.containerMenu li a {
    color: #FFFFFF;
    text-transform: none;
    font-size: 20px;
}

.conteudo {
    width: 100%;
    margin: 50px;
    position: relative;
}

.contProduct {
    width: 800px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    visibility: visible;
    opacity: 0;
    z-index: -1;
}

.contProduct.activeAdd {
    opacity: 1;
    transition: opacity 0.3s ease-in;
    visibility: visible;
    z-index: 5;
}

.addProduct {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}

.prdutos {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    background-color: #d3d5d5;
    padding: 10px;
}

.prdutos h1 {
    color: #000;
    font-size: 22px;
    text-transform: none;
}

.prdutos i {
    position: absolute;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.formProduct {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}

.formProduct label {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    font-size: 14px;
    color: #000;
}

.formProduct label:first-child {
    margin-right: 50px;
}

.formProduct label input {
    height: 30px;
    margin-top: 10px;
    outline: none;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(139, 137, 137, 0.856);
}

.formProduct label select {
    width: 50px;
    height: 30px;
    margin-top: 10px;
}

#newAddImg {
    width: 100px;
    height: 100px;
    box-shadow: 0 0px 5px 0px #000;
    z-index: 9999;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 20px;
    top: 20px;
    cursor: pointer;
    visibility: visible;

}

.formProduct img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 20px;
    top: 20px;
    overflow: hidden;
}

#file {
    z-index: -2;
    visibility: hidden;
    border: none;
}

#cod {
    width: 100px;
}

#name, #desc {
    width: 250px;
}

#descont {
    width: 70px;
}

#vA {
    width: 70px;
}

#pa {
    width: 70px;
}

#qt {
    width: 70px;
}

.containerBtn {
    position: absolute;
    right: 240px;
    bottom: 40px;
    margin: 0 auto; 
}

.containerBtn button {
    width: 150px;
    height: 40px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}




.containerBtn button:last-child {
    background-color: #0f7a9d;
}

.containerBtn button:first-child {
    background-color: #258c19;
}



.tbListProduct {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.filtroProduct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}

.checkboxList input {
    margin-right: 20px;
}

.insertDel button {
    width: 100px;
    margin-left: 15px;
    height: 40px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}

.insertDel button:first-child {
    background-color: #258c19;
}
.insertDel button:last-child {
    background-color: #0f7a9d;
}

.insertDel button:first-child:hover, .containerBtn button:first-child:hover {
    background-color: #1368099d;
}
.insertDel button:last-child:hover, .containerBtn button:last-child:hover {
    background-color: #156a869c;
}

.tabelaProduct {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
}

thead {
    background-color: #d3d5d5;
}

.tbContent {
    border-radius: 20px;

}

.tabelaProduct thead tr th {
    padding: 10px;
    font-size: 12px;
    color: #5c627a;
}

.tabelaProduct tbody tr td {
    padding: 10px;
}


.tabelaProduct tbody tr {
    cursor: pointer;
    transform: scale(1);
    transition: 0.3s ease-in-out;
    border-bottom: 1px solid #5c627a38;
    text-align: center;

}

.tabelaProduct tbody tr:hover {
    transform: scale(1.005);
    background-color: rgba(114, 199, 199, 0.164);
}

.tdImg img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.tabelaProduct tbody .edit {
    font-size: 20px;
    color: rgb(6, 122, 122);
    z-index: 50000;
}

.tabelaProduct tbody .edit:hover {
    color: #000;
}

